body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
/*header start*/
header{
    background-color: #242424;
}
.main-text{
    padding: 290px 460px;
    color: white;
    letter-spacing: 8px;
}
.main-text p{
    position: absolute;
    letter-spacing: normal;
}
.menu-icon{
    color: #898989;
    font-size: 2em;
    margin-top: 40px;
    margin-left: 1270px;
    cursor: pointer;
    position: fixed;
}
.menu-icon:hover{
    color: rgba(236, 218, 218, 0.747);
    filter: brightness(200%);
    transition: all .3s linear;
}
/*header end*/
/*menu section start*/
#sidebar-menu{
    background-color: #191918;
    height: 100vh;
    width: 35vh;
    position: fixed;
    right: 0;
    top: 0;
}
.menu-content{
    margin: 100px 0;
}
.menu-content ul li{
    list-style-type: none;
    margin: 10px;
}
.menu-content ul li a{
    text-decoration: none;
    color: #b9b9b0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}
.menu-content ul li a:hover{
    color: white;
    transition: all .3s ease;
}
/*menu section end*/
/*about-section start*/
.about-text h4{
    color: #686A6E;
    letter-spacing: 5px;
    font-weight: 600;
    text-align: center;
}
.about-text{
    width: 400px;
    margin: 0 auto;
}
.about-icons{
    display: flex;
    justify-content: space-evenly;
    margin: 100px 150px;
}
.about-icons i{
    font-size: 3em;
    color: rgba(36, 34, 31, 0.918);
}
/*about-section end*/
/*container-skills section start*/
.container-skills{
    background-color: #e7e5df;
}
.container-skills h3{
    padding-top: 100px;
    text-align: center;
    letter-spacing: 3px;
    color: rgb(100, 93, 93);
}
.skill-icons{
    margin-left: 100px;
    padding: 60px 0px;
    font-size: 4em;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.skill-html{
    color: rgb(209, 58, 12);
}
.skill-css{
    color: rgb(39, 69, 167);
}
.skill-bootstrap{
    color: rgb(111, 27, 189);
}
.skill-js{
    color: rgb(255, 196, 34);
}
.skill-sql{
    color: rgb(173, 163, 163);
}
.skill-py{
    color: rgb(93, 93, 197);
}
.skill:hover{
    transition: all .5s ease;
    transform: scale(1.3);
    cursor: pointer;
}
/*container-skills section end*/
/*container-portfolio section start*/
.container-portfolio{
    background-color: hsl(0, 3%, 16%);
    padding: 100px 100px;
}
.portfolio-heading{
    margin: 50px 500px;
}
.portfolio-heading h3{
    color: cornsilk;
    letter-spacing: 7px;
}
.portfolio-cards{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}
.card{
    width: 350px;
    height: 300px;
}
.card img{
    width: 350px;
    height: 300px;
    object-fit: cover;
}
/*container-portfolio section end*/
/*container-social section start*/
.container-social{
    background-color: #1B1B1B;
    padding: 110px;
}
.container-icons{
    display: flex;
    justify-content: space-around;
}
.icon i{
    color: white;
    font-size: 1.8em;
}
.icon i:hover{
    color: rgba(85, 84, 83, 0.904);
    transition: all 0.8s ease-in-out;
}
/*container-social section end*/
/*container-contact section start*/
.container-contact{
    background-color: #171717;
    padding: 300px 100px;
}
.contact{
    color: white;
    font-family: 'Noto Sans Display', sans-serif;
}
.contact-icons{
    display: flex;
    justify-content: space-between;
    padding: 0 170px 20px 150px;
    font-size: 1.5rem;
}
.contact-nm{
    display: flex;
    justify-content: space-between;
    padding: 0 100px
}
/*container-contact section end*/
/*container-form section start*/
.container-form{
    background-color: #1B1B1B;
    padding: 30px 80px;
}
.form-group input, textarea{
    background-color: #1B1B1B;
    width: 100%;
    margin-top: 50px;;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    outline: none;
    padding: 15px;
    color: rgb(204, 189, 156);
    border-color: rgb(216, 190, 142);
}
.form-group input:focus, textarea:focus{
    border-color: rgba(151, 140, 140, 0.555);
    border-bottom-width: 0.1px;
    transition: all 1s cubic-bezier(.38,.66,.26,.52);
}
::placeholder{
    color: white;
    letter-spacing: 3px;
    font-size: 0.9em;
}
.btn{
    background-color: rgb(190, 183, 138);
    font-family: 'Noto Sans Display', sans-serif;
    padding: 17px 40px;
    margin: 50px 490px;
    letter-spacing: 3px;
    border: none;
    cursor: pointer;
}
/*container-form section end*/
