.container {
    background-color: rgb(223, 231, 231);
    height: 600px;
}
.container-header {
    width: 900px;
    height: 200px;
    margin: 0 auto;
    /*border: solid 1px red;*/
}
h1 {
    padding: 100px 335px;
}
.container-service {
    /*border: solid 2px purple;*/
    width: 1000px;
    height: 250px;
    margin: 0 auto;
}
.service-item {
    background-color: white;
    width: calc(100%/3 - 43px);
    height: 350px;
    display: inline-block;
    margin: 0 20px;
}
    




